<!DOCTYPE html>
<html lang="{{.Conf.Lang}}" class="h-100">
<head>
    {{template "_head.html" .}}
    <title>{{.Conf.Title}}</title>
</head>
<body class="bg-body d-flex flex-column h-100">

{{template "_topbar.html" .}}

<main><div class="container">
    <div class="row">

      {{template "_navbar.html" .}}

        <div class="col ft-guide mt-3 px-lg-3 px-xl-5" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-offset="0" tabindex="0">
            <h1 class="post-title">TAG: {{.Tag}}</h1>
            {{$pre := .UrlPre}}
            {{range $lnk := .Site.GetTagArchives .Tag}}
            <section class="post">
                <a href="{{$pre}}/{{$lnk.Url}}">
                    <h3 class="item-title">{{$lnk.Title}}</h3>
                </a>
                <p class="item-meta">{{$lnk.Note}}</p>
            </section>
            {{end}}
        </div>

    </div>
</div></main>

{{template "_footer.html" .}}

<script src="{{.UrlPre}}/static/js/bootstrap.min.js"></script>
</body>
</html>
