<!DOCTYPE html>
<html lang="{{.Conf.Lang}}" class="h-100">
<head>
    {{template "_head.html" .}}
    <link rel="stylesheet" href="{{.UrlPre}}/static/css/dracula.css">
    <title>帮助 | {{.Conf.Title}}</title>
</head>
<body class="bg-body d-flex flex-column h-100">

{{template "_topbar.html" .}}

<main><div class="container">
    <div class="row">

      <div class="col-12 col-lg-auto order-lg-last ft-toc sticky-sidebar mt-3 mb-5 ms-xxl-5 px-sm-1 text-body-secondary">
          <button class="btn btn-secondary d-lg-none collapsed ft-page-toc-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#page-toc-contents" aria-expanded="false" aria-controls="page-toc-contents">
            大纲
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"/>
              </svg>
          </button>
          <strong class="d-none d-lg-block h6 my-2 ms-3">大纲</strong>
          <hr class="d-none d-lg-block my-2 ms-3">
            <div class="collapse" id="page-toc-contents">
              <nav id="page-toc">
                <ul>
                <li><a href="#toc_0">有一点GitHub的味道</a></li>

                <li><a href="#toc_1">数学很难,让我一起去购物吧</a></li>

                <li><a href="#toc_2">我们都喜欢建列表</a></li>

                <li><a href="#toc_3">我是一个机器人</a></li>

                <li><a href="#toc_4">一成不变</a></li>

                <li><a href="#toc_5">推卸责任</a></li>

                <li><a href="#toc_6">两个表格</a></li>

                <li><a href="#toc_7">疯狂的链接</a></li>
                </ul>
              </nav>
            </div>
        </div>

        <div class="col ft-guide mt-3 px-lg-3 px-xl-5" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-offset="0" tabindex="0">
            <h1 class="post-title">Markdown 语法</h1>

            <div class="post-body">
            <p>让我从”linebreak” 开始. 下面的段落包含两个短语并且用单行分割.</p>

            <p>Roses are red
            Violets are blue</p>

            <p>下面的段落有同样的词组,但是这回他们使用两个空格和新的一行来分割:</p>

            <p>Roses are red
            Violets are blue</p>

            <p>哦,这里有一件事我还是无法忍受的,那就是使用多个下划线分割文字,类似于perform_complicated_task 或者 do_this_and_do_that_and_another_thing.</p>

            <h2 id="toc_0">有一点GitHub的味道</h2>

            <p>除了前一个部分的改变外,这些参考是自动链接的:</p>

            <ul>
            <li>SHA: be6a8cc1c1ecfe9489fb51e4869af15a13fc2cd2</li>
            <li>User@SHA ref: mojombo@be6a8cc1c1ecfe9489fb51e4869af15a13fc2cd2</li>
            <li>User/Project@SHA: mojombo/god@be6a8cc1c1ecfe9489fb51e4869af15a13fc2cd2</li>
            <li>#Num: #1</li>
            <li>User/#Num: mojombo#1</li>
            <li>User/Project#Num: mojombo/god#1</li>
            </ul>

            <p>这里有一些危险的东西,我们需要重申一下email地址是不能分割的:</p>

            <p>我的邮箱地址是 tom@github.com.</p>

            <h2 id="toc_1">数学很难,让我一起去购物吧</h2>

            <p>在一年级,我学会了5&gt;3和2&lt;7. 或者需要一些箭头. 1 -&gt; 2 -&gt; 3. 9 &lt;- 8 &lt;- 7.</p>

            <p>三角等式! a^2 + b^2 = c^2</p>

            <h2 id="toc_2">我们都喜欢建列表</h2>

            <p>上面的header标签应该是 H2 标签. 现在,建立一个水果列表:</p>

            <ul>
            <li>Red Apples</li>
            <li>Purple Grapes</li>
            <li>Green Kiwifruits</li>
            </ul>

            <p>让我们开始疯狂:</p>

            <ol>
            <li><p>这是一个两个段落的列表 Lorem ipsum dolorsit amet, consectetuer adipiscing elit. Aliquam hendreritmi posuere lectus.</p>

            <p>Vestibulum enim wisi, viverra nec, fringilla in, laoreetvitae, risus. Donec sit amet nisl. Aliquam semper ipsumsit amet velit.</p></li>

            <li><p>Suspendisse id sem consectetuer libero luctus adipiscing.</p></li>
            </ol>

            <p>那么列表中的代码怎么办呢? <strong>in</strong>  疯了吧,是不是?</p>

            <ol>
            <li><p>在 Ruby 中你可能要映射,就像这样:</p>

            <pre><code class="hljs go">[<span class="hljs-string">'a'</span>, <span class="hljs-string">'b'</span>].<span class="hljs-keyword">map</span> { |x| x.uppercase }
            </code></pre></li>

            <li><p>在Rails, 你可以做一个简写:</p>

            <pre><code class="hljs go">[<span class="hljs-string">'a'</span>, <span class="hljs-string">'b'</span>].<span class="hljs-keyword">map</span>(&amp;:uppercase)
            </code></pre></li>
            </ol>

            <p>一些人更喜欢定义列表</p>

            <h2 id="toc_3">我是一个机器人</h2>

            <p>或许你想打印<code>robot</code> 到控制台1000次. 为什么不呢?</p>

            <pre><code class="hljs ruby"><span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">robot_invasionputs</span><span class="hljs-params">(<span class="hljs-string">"robot "</span> * <span class="hljs-number">1000</span>)</span></span><span class="hljs-keyword">end</span>
            </code></pre>

            <p>你看到了吗,那被格式化为代码了,因为它已经被缩进了4个空格.</p>

            <p>那如果我们扔一些单箭头口号和&amp;符号会怎么样呢?</p>

            <pre><code class="hljs applescript">&lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"footer"</span>&gt;
	&amp;<span class="hljs-keyword">copy</span>; <span class="hljs-number">2004</span> Foo Corporation
            &lt;/<span class="hljs-keyword">div</span>&gt;
            </code></pre>

            <h2 id="toc_4">一成不变</h2>

            <p>展示块对于ASCII艺术十分有用:</p>

            <pre>             ,-.
                ,     ,-.   ,-.
               / \   (   )-(   )
               \ |  ,.&gt;-(   )-&lt;
                \|,' (   )-(   )
                 Y ___`-'   `-'
                 |/__/   `-'
                 |
                 |
                 |    -hrr-
              ___|_____________
            </pre>

            <h2 id="toc_5">推卸责任</h2>

            <p>如果你需要责备他人,最好的方式是引用他们:</p>

            <blockquote>
            <p>I, at any rate, am convinced that He does not throw dice.</p>
            </blockquote>

            <p>或者一些人没有太厉害的口才:</p>

            <blockquote>
            <p>I wish you’d have given me this written question ahead of time so I
            could plan for it… I’m sure something will pop into my head here in
            the midst of this press conference, with all the pressure of trying to
            come up with answer, but it hadn’t yet…</p>

            <p>I don’t want to sound like
            I have made no mistakes. I’m confident I have. I just haven’t - you
            just put me under the spot here, and maybe I’m not as quick on my feet
            as I should be in coming up with one.</p>
            </blockquote>

            <h2 id="toc_6">两个表格</h2>

            <table>
	<tbody><tr>
		<th>ID</th>
		<th>Name</th>
		<th>Rank</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Tom Preston-Werner</td>
		<td>Awesome</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Albert Einstein</td>
		<td>Nearly as awesome</td>
	</tr>
            </tbody></table>

            <h2 id="toc_7">疯狂的链接</h2>

            <p>I get 10 times more traffic from <a href="http://google.com/" title="Google">Google</a> than from
            <a href="http://search.yahoo.com/" title="Yahoo Search">Yahoo</a> or <a href="http://search.msn.com/" title="MSN Search">MSN</a>.</p>

            <p><em>查看以上内容的源码 <a href="http://github.github.com/github-flavored-markdown/sample_content.html">source of this content</a>.</em></p>

                        <div>
                    </div>

                </div>
        </div>

    </div>
</div></main>

{{template "_footer.html" .}}

<script src="{{.UrlPre}}/static/js/bootstrap.min.js"></script>
<script src="{{.UrlPre}}/static/js/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
(() => {
    'use strict'

    document.getElementById('btn-sidebar').style.visibility = "hidden"
    const channels = document.getElementById('site-channels')
    channels.querySelectorAll(":scope a.nav-link").forEach(element => {
        element.classList.remove('active')
        if (element.getAttribute("href").endsWith("help.html")) {
            element.classList.add('active')
        }
    })
})()
</script>
</body>
</html>
