
    <footer class="micro-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">Copyright &copy; 2018</div>
                <div class="col-xs-6 align-right">All rights reserved.</div>
            </div>
        </div><!-- /.container -->
    </footer><!-- /.micro-nav -->

    <script src="{{.UrlPre}}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{.UrlPre}}/static/js/bootstrap/affix.min.js"></script>
    <script type="text/javascript" src="{{.UrlPre}}/static/js/bootstrap/scrollspy.min.js"></script>
    <script type="text/javascript" src="{{.UrlPre}}/static/js/matchHeight.min.js"></script>
    <script type="text/javascript" src="{{.UrlPre}}/static/js/scripts.min.js"></script>
