<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">
<meta name="renderer" content="webkit">
<meta name="robots" content="index,follow">

<script src="{{.UrlPre}}/static/js/color-modes.js"></script>
<link rel="stylesheet" href="{{.UrlPre}}/static/css/style.css">
<link rel="icon" type="image/svg+xml" href="{{.UrlPre}}/static/images/favicon.png">
