<!DOCTYPE html>
<html lang="{{.Conf.Lang}}">
<head>
    <meta charset="utf-8">
    <title>{{.Conf.Title}}</title>
    {{template "_head.html" .}}
</head>
<body>

<div id="app">
    <div class="bg-gradient-primary" style="position: sticky; top: 0; z-index: 2333; height: 3px"></div>
    {{template "_topbar.html" .}}

    <div class="container-fluid pl-0 documentation is-dark">
        <div class="row">

            <div class="col-12 col-md-3 sidebar "
            :class="[{'is-hidden': ! sidebar}, {'is-dark': forceDarkSidebar}, {'is-light': forceLightSidebar}]">
                <ul id="sidebar"></ul>
            </div>

            <div class="col-12 col-md-9 article" :class="{'expanded': ! sidebar}">

                {{$urlpre := .UrlPre}}
                {{range $lnk := .Cata.GetArchives}}
                <section class="post">
                    <a href="{{$urlpre}}/{{$lnk.Url}}">
                        <h3 class="item-title">{{$lnk.Title}}</h3>
                    </a>
                    <p class="item-meta">{{$lnk.Note}}</p>
                </section>
                {{end}}

                <footer class="site" style="text-align:center">
                    <span style="margin:0 10px">{{.Cata.GetPrev}}</span>
                    <span style="margin:0 10px">{{.Cata.GetNext}}</span>
                </footer>

                <hr>
            </div>
        </div>
    </div>

    <larecipe-back-to-top></larecipe-back-to-top>
</div>

<script src="{{.UrlPre}}/static/js/bundle.js"></script>
<script src="{{.UrlPre}}/static/js/app.js"></script>
<script type="text/javascript">
    loadSidebar('{{.UrlPre}}');
</script>
</body>
</html>
