<!DOCTYPE html>
<html lang="{{.Conf.Lang}}">
<head>
    <meta charset="utf-8">
    <title>{{.Conf.Title}}</title>
    {{template "_head.html" .}}
</head>
<body>

<div id="app">
    <div class="bg-gradient-primary" style="position: sticky; top: 0; z-index: 2333; height: 3px"></div>
    {{template "_topbar.html" .}}

    <div class="container-fluid pl-0 documentation is-dark">
        <div class="row">

            <div id="sidebar"></div>

            <div class="col-12 col-md-9 article" :class="{'expanded': ! sidebar}">

                <h1 class="content-subhead">TAG: {{.Tag}}</h1>

                {{$urlpre := .UrlPre}}
                {{range $lnk := .Site.GetTagArchives .Tag}}
                <section class="post">
                    <a href="{{$urlpre}}/{{$lnk.Url}}">
                        <h3 class="item-title">{{$lnk.Title}}</h3>
                    </a>
                    <p class="item-meta">{{$lnk.Note}}</p>
                </section>
                {{end}}

            <hr>
            </div>
        </div>
    </div>

    <larecipe-back-to-top></larecipe-back-to-top>
</div>

<script src="{{.UrlPre}}/static/js/bundle.js"></script>
<script src="{{.UrlPre}}/static/js/app.js"></script>
<script type="text/javascript">
$(function(){
    $('#sidebar').load('{{.UrlPre}}/sidebar.html');
});
</script>
</body>
</html>
